<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for i in range(len) %}
        {{ Player.psychics[0].history[i] }}
        {{ Player.psychics[1].history[i] }}
        ({{ Player.history[i] }})
        <br>
    {% endfor %}
    {{ Player.psychics[0].predict }} ({{ Player.proxy[0] }})
    {{ Player.psychics[1].predict }} ({{ Player.proxy[1] }})
    <form action="/answer " target="_self">
         <button type="submit">Записать число</button>
    </form>
</body>
</html>